@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #9acaa1;
    color: #2a2a2a;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Header */

.header-container {
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2rem;
    margin-right: 1rem;
    color: #214326;
}

.movie-icon {
    width: 50px;
    height: 50px;
}

/* Input Section */

.input-section {
    width: 40%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form :not(:last-child) {
    margin-bottom: 1.2rem;
}

label {
    font-size: 1.2rem;
    color: #19282F;
}

.search-input {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.search-btn {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    align-self: center;
    font-size: 1.5rem;
    padding: 8px 5px;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
    background: #214326;
    color: #9acaa1;
    letter-spacing: 1.5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-btn:hover,
.search-btn:focus {
    background: #fff;
    color: #2a2a2a;
    transition: background 250ms;
}

/* Movie Card */

.movie-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}

.movie {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 3rem;
    border-radius: 10px;
    border: .5px solid #214326;
}

.movie-poster {
    margin-right: 2rem;
}

.movie-poster-image {
    object-fit: cover;
}

.movie-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: #19282F;
}

.movie-title {
    font-size: 1.5rem;
}

.movie-info :not(:last-child) {
    margin-bottom: 1rem;
}

.movie-plot {
    line-height: 1.6;
}

@media (max-width: 768px) {

    .header-container {
        margin-bottom: 0;
    }

    .title {
        font-size: 1.6rem;
    }

    .movie-icon {
        width: 30px;
        height: 30px;
    }

    form :not(:last-child) {
        margin-bottom: 1rem;
    }

    .input-section {
        width: 70%;
    }

    .search-btn, .search-input {
        width: 100%;
    }

    .movie {
        flex-direction: column;
    }

    .movie-info {
        text-align: center;
    }

    .movie-info :not(:last-child) {
        margin-bottom: .8rem;
    }

    .movie-release-date, .movie-rating, .movie-plot {
        font-size: .8rem;
    }

    .movie-poster {
        margin: 0 auto;
    }
}